<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- User registration form -->
	<div th:fragment="user-form">

		<div class="row">
			<div class="form-group col">
				<label>First Name*</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{firstName}" maxlength="45" required>
			</div>
			<div class="form-group col">
				<label>Middle Name</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{middleName}" maxlength="45">
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Last Name*</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{lastName}" maxlength="45" required>
			</div>

			<div class="form-group col">
				<label>Gender*</label> 
				<select class="form-control mobile-font-size-12" th:field=*{gender} required>
					<option th:value="Male" th:text="Male">
					<option th:value="Female" th:text="Female">
					<option th:value="Other" th:text="Other">
				</select>
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Address*</label>
				<textarea rows="2" cols="50" class="form-control mobile-font-size-12"
					th:field="*{address}" maxlength="100" required></textarea>
			</div>
			<div class="form-group col">
				<label>Phone Number*</label> 
				<input type="text" class="form-control mobile-font-size-12" th:field="*{phone}" maxlength="20" required>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Email Address*</label> 
				<input type="email" class="form-control mobile-font-size-12" th:field="*{email}" maxlength="100" required>
			</div>

			<div class="form-group col">
				<label>Occupation*</label> 
				<input type="text" class="form-control mobile-font-size-12" th:field="*{occupation}" maxlength="45" required>
			</div>

		</div>

		<div class="row">

			<div class="form-group col" style="width:50%">
				<label>Date of Birth*</label> 
				<input type="date" class="form-control mobile-font-size-12" th:field="*{dateOfBirth}" required onkeydown="return false">
			</div>

			<div class="form-group col">
				<label>Subscription*</label> <sup><a th:href="@{/subscription/view/plans}" target="_blank">View plans</a></sup>
				<select class="form-control mobile-font-size-12" th:field=*{subscription} required>
					<option th:each="subscription : ${subscriptionList}"
						th:value="${subscription.id}"
						th:text="${subscription.category.name} + ' (' + ${subscription.subscriptionDuration.name} + ')'">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Preferred Area of Delivery*</label> 
				<select class="form-control mobile-font-size-12" th:field=*{deliveryArea} required>
					<option th:each="area : ${areaList}" th:value="${area.id}"
						th:text="${area.name}">
				</select>
			</div>

			<div class="form-group col">
				<label>Mode of Payment*</label> 
				<select class="form-control mobile-font-size-12" th:field=*{paymentMode} required>
					<option th:each="mode : ${paymentModeList}" th:value="${mode.id}"
						th:text="${mode.name}">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>List Your Favorite Genres*</label> 
				<input type="text" class="form-control mobile-font-size-12" th:field="*{genre}" maxlength="200" required>
			</div>
			
			<div class="form-group col">
				<label>Special Instructions</label> <input type="text" class="form-control mobile-font-size-12" th:field="*{instruction}" maxlength="500">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col hidden">
				<label>Membership ID</label> <input type="text" class="form-control mobile-font-size-12" th:field="*{membershipId}" maxlength="10">
			</div>
			
			<div class="form-group col hidden">
				<label>Status</label> 
				<select class="form-control mobile-font-size-12" th:field=*{status} required>
					<option th:each="status : ${userStatusList}" th:value="${status.id}"
						th:text="${status.name}">
				</select>
			</div>
		</div>

	</div>

	<!-- User parent registration form -->
	<div th:fragment="parent-form" id="parentInfo" class="hidden">
		<div class="row">
			<div class="form-group col">
				<label>First Name</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{parent.firstName}" maxlength="45">
			</div>

			<div class="form-group col">
				<label>Last Name</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{parent.lastName}" maxlength="45">
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Phone Number</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{parent.phone}" maxlength="45">
			</div>

			<div class="form-group col">
				<label>Relationship With The Member</label> <input type="text"
					class="form-control mobile-font-size-12" th:field="*{parent.relation}" maxlength="45">
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Occupation</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{parent.occupation}" maxlength="45">
			</div>

			<div class="form-group col">
				<!-- <label>Last Name</label> <input type="text" class="form-control" th:field="*{parent.lastName}"> -->
			</div>

		</div>
	</div>
	
	<!-- Book entry form -->
	<div th:fragment="book-form">
		<div class="row">
			<div class="form-group col">
				<label>Book Name*</label> <input type="text" class="form-control mobile-font-size-12" maxlength="255" required
					th:field="*{name}">
			</div>

			<div class="form-group col">
				<label>Book Code*</label> <input type="text" class="form-control mobile-font-size-12" maxlength="45" required
					th:field="*{code}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Author*</label> 
				<select class="form-control selectpicker" th:field=*{author} required multiple>
					<option value="" disabled>Select Author</option>
					<option th:each="author : ${authorList}"
						th:value="${author.id}"
						th:text="${author.name}">
				</select>
			</div>
		
			<div class="form-group col">
				<label>Publisher*</label> 
				<select class="form-control selectpicker" th:field=*{publisher} required multiple>
					<option value="" disabled>Select Publisher</option>
					<option th:each="publisher : ${publisherList}"
						th:value="${publisher.id}"
						th:text="${publisher.name}">
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Genre*</label> 
				<select class="form-control selectpicker" th:field=*{genre} required multiple>
					<option value="" disabled>Select Genre</option>
					<option th:each="genre : ${genreList}"
						th:value="${genre.id}"
						th:text="${genre.name}">
				</select>
			</div>
		
			<div class="form-group col">
				<label>Tag*</label> 
				<select class="form-control selectpicker" th:field=*{tag} required multiple>
					<option value="" disabled>Select Tag</option>
					<option th:each="tag : ${tagList}"
						th:value="${tag.id}"
						th:text="${tag.name}">
				</select>
			</div>
		</div>
		
		<div class="row">			
			<div class="form-group col">
				<label>No of Pages</label> <input type="number" class="form-control mobile-font-size-12"
					th:field="*{noOfPages}" min="0" max="5000">
			</div>
			
			<div class="form-group col">
				<label>Publisher Year</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{year}" maxlength="4">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Blurb</label> <textarea class="form-control mobile-font-size-12"
					th:field="*{blurb}"></textarea>
			</div>
		
			<div class="form-group col">
				<label>Goodreads Link</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{goodreadsLink}" maxlength="500">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Type*</label> 
				<select class="form-control mobile-font-size-12" th:field=*{type} required>
					<option th:value="Hardcover" th:text="Hardcover">
					<option th:value="Paperback" th:text="Paperback">
				</select>
			</div>
			
			<div class="form-group col">
				<label>Total Count*</label> 
				<input type="number" class="form-control mobile-font-size-12"
					th:field="*{count}" min="0" max="5000" required>
			</div>			
		</div>
		
		<div class="row">
			<div class="form-group col">
				<div class="left margin-right-10px"><input type="checkbox" th:name="newArrival" th:value="newArrival" th:field=*{newArrival}><label>New Arrival</label></div>
				<div class="left margin-right-10px"><input type="checkbox" th:name="bestSeller" th:value="bestSeller" th:field=*{bestSeller}><label>Best Seller</label></div>
				<div class="left margin-right-10px"><input type="checkbox" th:name="children" th:value="children" th:field=*{children}><label>Children's</label></div>
				<div class="left margin-right-10px"><input type="checkbox" th:name="readingChallenge" th:value="readingChallenge" th:field=*{readingChallenge}><label>Bookcentric Reading Challenge</label></div>				
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Upload Image</label> 
				<input type="file" class="form-control mobile-font-size-12" name="file">					
			</div>
		</div>
	
	</div>
	
	<div th:fragment="wishlist-form">
		<div class="row">
			<div class="form-group col">
				<label>First Name*</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{firstName}" maxlength="45" required>
			</div>
			<div class="form-group col">
				<label>Last Name</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{lastName}" maxlength="45" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Membership Number*</label> <input type="text" class="form-control mobile-font-size-12"
					th:field="*{membershipNo}" maxlength="10" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Requests*</label> <textarea class="form-control mobile-font-size-12"
					th:field="*{requests}" maxlength="1000" required></textarea>
			</div>
		</div>
	</div>
	
	<div th:fragment="form-captcha">
		<div class="row">
			<div class="form-group col">
				<hr>
				<label id="captchaValue"></label>
				<input type="number" id="captchaAnswer" class="form-control mobile-font-size-12" placeholder="Answer" min="0" max="200" required>
				<p class="error" id="captchaError"></p>
			</div>
		</div>
	</div>


</body>
</html>

