<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- User registration form -->
	<div th:fragment="user-form">

		<div class="row">
			<div class="form-group col">
				<label>First Name*</label> <input type="text" class="form-control"
					th:field="*{firstName}" required>
			</div>
			<div class="form-group col">
				<label>Middle Name</label> <input type="text" class="form-control"
					th:field="*{middleName}">
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Last Name*</label> <input type="text" class="form-control"
					th:field="*{lastName}" required>
			</div>

			<div class="form-group col">
				<label>Gender*</label> 
				<select class="form-control" th:field=*{gender} required>
					<option th:value="Male" th:text="Male">
					<option th:value="Female" th:text="Female">
					<option th:value="Other" th:text="Other">
				</select>
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Address*</label>
				<textarea rows="2" cols="50" class="form-control"
					th:field="*{address}" required></textarea>
			</div>
			<div class="form-group col">
				<label>Phone Number*</label> 
				<input type="text" class="form-control" th:field="*{phone}" required>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Email address*</label> 
				<input type="email" class="form-control" th:field="*{email}" required>
			</div>

			<div class="form-group col">
				<label>Occupation*</label> 
				<input type="text" class="form-control" th:field="*{occupation}" required>
			</div>

		</div>

		<div class="row">

			<div class="form-group col">
				<label>Date of Birth*</label> 
				<input type="date" class="form-control" th:field="*{dateOfBirth}" required>
			</div>

			<div class="form-group col">
				<label>Subscription*</label> <a th:href="@{/subscription/view/plans}" target="_blank">View plans</a>
				<select class="form-control" th:field=*{subscription} required>
					<option th:each="subscription : ${subscriptionList}"
						th:value="${subscription.id}"
						th:text="${subscription.category.name} + ' (' + ${subscription.subscriptionDuration.name} + ')'">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>Preferred area of delivery*</label> 
				<select class="form-control" th:field=*{deliveryArea} required>
					<option th:each="area : ${areaList}" th:value="${area.id}"
						th:text="${area.name}">
				</select>
			</div>

			<div class="form-group col">
				<label>Mode of Payment*</label> 
				<select class="form-control" th:field=*{paymentMode} required>
					<option th:each="mode : ${paymentModeList}" th:value="${mode.id}"
						th:text="${mode.name}">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col">
				<label>List your favorite genres*</label> 
				<input type="text" class="form-control" th:field="*{genre}" required>
			</div>
			
			<div class="form-group col">
				<label>Special instructions</label> <input type="text" class="form-control" th:field="*{instruction}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col hidden">
				<label>Membership ID</label> <input type="text" class="form-control" th:field="*{membershipId}">
			</div>
			
			<div class="form-group col hidden">
				<label>Status</label> 
				<select class="form-control" th:field=*{status} required>
					<option th:each="status : ${userStatusList}" th:value="${status.id}"
						th:text="${status.name}">
				</select>
			</div>
		</div>

	</div>

	<!-- User parent registration form -->
	<div th:fragment="parent-form" id="parentInfo" class="hidden">
		<div class="row">
			<div class="form-group col">
				<label>First Name</label> <input type="text" class="form-control"
					th:field="*{parent.firstName}">
			</div>

			<div class="form-group col">
				<label>Last Name</label> <input type="text" class="form-control"
					th:field="*{parent.lastName}">
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Phone Number</label> <input type="text" class="form-control"
					th:field="*{parent.phone}">
			</div>

			<div class="form-group col">
				<label>Relationship to the member</label> <input type="text"
					class="form-control" th:field="*{parent.relation}">
			</div>

		</div>

		<div class="row">
			<div class="form-group col">
				<label>Occupation</label> <input type="text" class="form-control"
					th:field="*{parent.occupation}">
			</div>

			<div class="form-group col">
				<!-- <label>Last Name</label> <input type="text" class="form-control" th:field="*{parent.lastName}"> -->
			</div>

		</div>
	</div>
	
	<!-- Book entry form -->
	<div th:fragment="book-form">
		<div class="row">
			<div class="form-group col">
				<label>Book name*</label> <input type="text" class="form-control" required
					th:field="*{name}">
			</div>

			<div class="form-group col">
				<label>Book code*</label> <input type="text" class="form-control" required
					th:field="*{code}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Author*</label> 
				<select class="form-control selectpicker" th:field=*{author} required multiple>
					<option value="" disabled>Select author</option>
					<option th:each="author : ${authorList}"
						th:value="${author.id}"
						th:text="${author.name}">
				</select>
			</div>
		
			<div class="form-group col">
				<label>Publisher*</label> 
				<select class="form-control selectpicker" th:field=*{publisher} required multiple>
					<option value="" disabled>Select publisher</option>
					<option th:each="publisher : ${publisherList}"
						th:value="${publisher.id}"
						th:text="${publisher.name}">
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Genre*</label> 
				<select class="form-control selectpicker" th:field=*{genre} required multiple>
					<option value="" disabled>Select genre</option>
					<option th:each="genre : ${genreList}"
						th:value="${genre.id}"
						th:text="${genre.name}">
				</select>
			</div>
		
			<div class="form-group col">
				<label>Tag*</label> 
				<select class="form-control selectpicker" th:field=*{tag} required multiple>
					<option value="" disabled>Select tag</option>
					<option th:each="tag : ${tagList}"
						th:value="${tag.id}"
						th:text="${tag.name}">
				</select>
			</div>
		</div>
		
		<div class="row">			
			<div class="form-group col">
				<label>No of pages</label> <input type="text" class="form-control"
					th:field="*{noOfPages}">
			</div>
			
			<div class="form-group col">
				<label>Publisher year</label> <input type="text" class="form-control"
					th:field="*{year}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Blurb</label> <textarea class="form-control"
					th:field="*{blurb}"></textarea>
			</div>
		
			<div class="form-group col">
				<label>Goodreads link</label> <input type="text" class="form-control"
					th:field="*{goodreadsLink}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Type*</label> 
				<select class="form-control" th:field=*{type} required>
					<option th:value="Hardcover" th:text="Hardcover">
					<option th:value="Paperback" th:text="Paperback">
				</select>
			</div>
			
			<div class="form-group col">
				<label>Total count*</label> 
				<input type="number" class="form-control"
					th:field="*{count}" required>
			</div>			
		</div>
		
		<div class="row">
			<div class="form-group col">
				<input type="checkbox" th:name="newArrival" th:value="newArrival" th:field=*{newArrival}><label>New arrival</label>
				<input type="checkbox" th:name="bestSeller" th:value="bestSeller" th:field=*{bestSeller}><label>Best seller</label>
				<input type="checkbox" th:name="children" th:value="children" th:field=*{children}><label>Children's</label>
				<input type="checkbox" th:name="readingChallenge" th:value="readingChallenge" th:field=*{readingChallenge}><label>Bookcentric reading challenge</label>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Upload image</label> 
				<input type="file" class="form-control" name="file">
					
			</div>
		</div>
	
	</div>
	
	<div th:fragment="wishlist-form">
		<div class="row">
			<div class="form-group col">
				<label>First Name*</label> <input type="text" class="form-control"
					th:field="*{firstName}" required>
			</div>
			<div class="form-group col">
				<label>Last Name</label> <input type="text" class="form-control"
					th:field="*{lastName}" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Membership Number*</label> <input type="text" class="form-control"
					th:field="*{membershipNo}" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col">
				<label>Requests*</label> <textarea class="form-control"
					th:field="*{requests}" required></textarea>
			</div>
		</div>
	</div>



</body>
</html>

