<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<title th:text="${pageTitle}"></title>

</head>

</html>