.top-bottom-space {
	margin-top: 3%;
	margin-bottom: 3%;
}

.square-input {
	border-radius: 0;
}

#navigation-bar {
	height: 100px !important;
}

.management-navbar {
	position: relative;
	top: -55px;
}

.management-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

.management-navbar li {
	float: left;
}

.management-navbar li a, .dropbtn {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.management-navbar li a:hover, .nav-dropdown:hover .dropbtn {
	background-color: #111;
}

.management-navbar li.nav-dropdown {
	display: inline-block;
}

.management-navbar div.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.management-navbar div.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.management-navbar div.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.management-navbar li.nav-dropdown:hover div.dropdown-content {
	display: block;
}

.management-card {
	position: absolute !important;
}

.position-absolute {
	position: absolute !important;
}

.right-ten-pix {
	right: 10px !important;
}

.top-hundred-pix {
	top: 100px !important;
}

.full-width {
	width: 100%;
}

.table-caption {
	caption-side: top !important;
	text-align: center !important;
	color: black !important;
	font-weight: bold;
}

.special-books-navigation {
	font-size: 30px !important;
	margin-top: 70px;
	cursor: pointer;
}

.delete-icon {
	font-size: 1.5em !important;
}

.edit-icon {
	font-size: 1.5em !important;
}

.add-icon {
	font-size: 1.5em !important;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.color-black {
	color: #111;
}

.color-gray {
	color: #777;
}

.color-deep-blue {
	color: #154360;
}

.color-deep-yellow {
	color: #B7950B;
}

.color-orange {
	color: orange;
}

.color-light-orange {
	color: #d6c28f
}

.color-beige {
	color: beige;
}

.font-14-pix {
	font-size: 14px !important;
}

.font-20-px {
	font-size: 20px !important;
}

.font-22-px {
	font-size: 22px !important;
}

.font-23-px {
	font-size: 23px !important;
}

.font-18-px {
	font-size: 18px !important;
}

.font-12-pix {
	font-size: 12px !important;
}

.font-130-px {
	font-size: 130px !important;
}

.font-bold {
	font-weight: bold;
}

.border-rounded-all {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.height-300-px {
	height: 300px;
}

.min-height-200-px {
	min-height: 200px;
}

.min-height-500-px {
	min-height: 500px;
}

.max-height-300-px {
	max-height: 300px;
}

.max-height-500-px {
	max-height: 500px;
}

.max-height-400-px {
	max-height: 400px;
}

.overflow-auto {
	overflow: auto;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

.margin-bottom-10px {
	margin-bottom: 10px;
}

.margin-bottom-20px {
	margin-bottom: 20px;
}

.margin-top-10px {
	margin-top: 10px;
}

.margin-top-100px {
	margin-top: 100px;
}

.margin-top-30px {
	margin-top: 30px;
}

.margin-left-10px {
	margin-left: 10px;
}

.margin-left-20px {
	margin-left: 20px;
}

.margin-right-10px {
	margin-right: 10px;
}

.margin-top-20px {
	margin-top: 20px;
}

.font-medium {
	font-size: 1.5em !important;
}

.no-border {
	border: none;
}

.select-picker-button {
	border: 1px solid #ced4da;
	background: #fff;
	color: #495057;
}

.label-margin-right {
	margin-right: .5rem;
}

.font-size-1-1-rem {
	font-size: 1.1rem;
}

textarea {
	text-align: justify;
}

.treasurySearchOptions {
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-height: 100px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.treasurySearchItems ul li {
	margin: 10px 0;
}

.treasurySearchItems a {
	color: gray;
}

.w-30 {
	width: 30% !important;
}

.w-40 {
	width: 40% !important;
}

.w-60 {
	width: 60% !important;
}

.other-review-container {
	overflow-y: auto;
    max-height: 300px;
}

.dashboard-background {
	background-image: url('/images/books/library-card.png');
}

.readingChallengeList > tbody > tr:hover {
	cursor: pointer;
	background-color: #ccc;	
}

.content-editor {
	height: 400px;
	overflow-x: scroll;
}

.content-viewer {
	height: 400px;
}

.blog-icons {
	font-size: 20px !important;
    margin-right: 3px;
}

.blog-item {
	background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 1rem !important;
}

.other-comment-container {
	overflow-y: auto;
    max-height: 300px;
}

.user-list-btn-grp {
	text-align:center;
	display: block;
}

.child-footer {
	width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    margin-top: 10px;
}

.font-typewriter {
	font-family: special_eliteregular;
}

.member-dashboard-background {
	background-color: #1F1B20;
	background-repeat: no-repeat; 
	background-size: cover;
}

.library-card thead th, .library-card td {
  border: 1px solid #d6c28f;
}

.dashboard-reading-queue thead th, .dashboard-reading-queue td {
  border: 1px solid #d6c28f;
}

.treasury-page-number-container {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: beige;
}