<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-8 card management-card left">
					<div class="card-body">
						<h1>Author</h1>

						<!-- Form -->
						<form th:action="@{/author/add}" th:object="${author}" method="post" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<label>Author name*</label> <input type="text" class="form-control" th:field="*{name}" required>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{id}">
								</div>
							</div>

							<button type="submit" class="btn btn-primary">Save</button>
						</form>
						
						<label></label>
						
						<div class="right">
							<form class="form-inline">
								<!-- <i class="fa fa-search" aria-hidden="true"></i>  -->
								<input class="form-control ml-3 authorSearch" type="text" placeholder="Search by Author" aria-label="Search">
							</form>
						</div>
						
						<table class="table">
							<thead>
								<tr>
									<th>Author name</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script type="text/javascript">
	
		$(document).ready(function() {
			
			var searchTimer = null;
			
			function getAllAuthors(searchText) {
				var param = {
						"searchText": searchText
				}
				
				var request = $.ajax({
					type: "GET",
					url: "/author/get",
					dataType: 'JSON',
					data: param
				});
				
				request.done(function(response) {
					render(response);
				});
			}
			
			function getTableRow(author) {
				var tr = "<tr>";
				tr += "<td>" + author.name + "</td>";
				tr += "<td><a class='fa fa-edit edit-icon color-green' href='/author/edit/'" + author.id + "></a></td>";
				tr += "<td><a class='fa fa-trash delete-icon' href='/author/delete/'" + author.id + "></a></td>";
				tr += "</tr>";
				
				return tr;
			}
			
			function render(authors) {
				var container = $(".table tbody");
				container.empty();
				
				$.each(authors, function(key, author) {
					var row = getTableRow(author);
					container.append(row);
				});
			}
			
			$(".authorSearch").keyup(function(e) {
				e.preventDefault();
				
				let text = $(this).val();
				
				if(searchTimer) {
					clearTimeout(searchTimer);
					searchTimer = null;
				}
							
				searchTimer = setTimeout(function() {
					getAllAuthors(text);
				}, 1000);
			});
			
			(function() {
				getAllAuthors("");
			})();
			
		});
		
	</script>

</body>
</html>