<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
			
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-10 card management-card">
					<div class="card-body">
						<h1>Thoughts & Musings</h1>
						
							<form th:action="@{/blogs/me/save}" th:object="${blog}" method="post" encType="multipart/form-data" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<input type="text" class="hidden" th:field="*{id}">
									<label>Name your thoughts*</label> <input type="text" class="form-control" th:field="*{subject}" required>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<label>Describe your thoughts</label>
									<div class="content-editor form-control" id="contentEditor" contenteditable="true" th:utext="*{content}"></div>
									<textarea rows="0" cols="0" class="hidden" th:field="*{content}"></textarea>
								</div>
							</div>
							
							<div class="row">
								<input type="text" class="form-control hidden" th:field="*{published}">
								<div class="form-group col">
									<label>Upload image</label> 
									<input type="file" class="form-control" name="file">					
								</div>
							</div>
							<button type="submit" class="btn btn-primary submit-blog">Save your thoughts</button>
							<button th:unless="${blog.published}" class="btn btn-success publish-blog">Publish your thoughts</button>
							<button th:if="${blog.published}" class="btn btn-success unpublish-blog">Unpublish your thoughts</button>
						</form>
						
					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section th:insert="fragments/body :: js-container"></section>

	<script type="text/javascript">
		$(document).ready(function() {

			$("#contentEditor").keyup(function(e) {
				e.preventDefault();
				$("#content").text($("#contentEditor").html());
			});

			var publishButton = $(".publish-blog");
			var unPublishButton = $(".unpublish-blog");
			if (publishButton) {
				publishButton.click(function(e) {
					e.preventDefault();
					$("#published").val(true);
					$(".submit-blog").click();
				});
			}
			
			if (unPublishButton) {
				unPublishButton.click(function(e) {
					e.preventDefault();
					$("#published").val(false);
					$(".submit-blog").click();
				});
			}

		});
	</script>
</body>
</html>