<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<div th:insert="fragments/body :: logo"></div>
        <div th:insert="fragments/body :: menue"></div>
		
		<section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-medium fixed-max-height-400px" data-background="/images/blog/thoughtsmusings.jpeg">
                <div class="js-height-parent container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="row">                        
                                <div class="col-md-8 align-left font-alt">
                                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Thoughts & Musings</h1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                </div>
            </section>
	
		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
				
				<div class="col-md-10 card management-card">
					<div class="card-body">
						
						<div sec:authorize="isAuthenticated()" class="full-width row mb-5">
							<div class="col-md-6 left">
								<button class="btn btn-outline-secondary own-blogs">My thoughts</button>
								<button class="btn btn-outline-secondary other-blogs active">Other's thoughts</button>
							</div>
							<div class="col-md-6 left">
								<a href="/blogs/me" class="btn btn-success btn-block">Write something new</a>
							</div>
						</div>
						
						<div class="blog-container"></div>
						
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="hidden" id="temp-container"></div>
	
	<section th:insert="fragments/body :: js-container"></section>

	<script type="text/javascript" src="/js/blog-list.js">></script>

	<script id="blog-item" type="text/template">
		<div class="full-width row blog-item">
							<label class="hidden" id="blog-item-id"></label>
							<div class="col-md-3 left">
								<img alt="" src="#" height="75" width="75" id="blog-image">
							</div>
							<div class="col-md-9 left">
								<div class="full-width row">
									<div class="col-md-10"><h2><a href="#" class="text-dark" id="blog-item-header" target="_blank"></a></h2></div>
									<div class="col-md-2">
										<a class="ml-1 btn btn-sm btn-info" id="blog-item-details" href="#" target="_blank">View post</a>
									</div>
								</div>
								<div class="full-width">
									<span class="col-md-4"><i class="fa fa-user-circle blog-icons"></i><label id="blog-item-author-name"></label></span> 
									<span class="col-md-2"><i class="fa fa-comment blog-icons"></i><label id="blog-item-comment-count"></label></span> 
									<span class="col-md-2"><i class="fa fa-calendar blog-icons"></i><label id="blog-item-creation-date"></label></span>
									<span sec:authorize="isAuthenticated()" class="col-md-2 right" id="mutatable-item-container"></span>									
								</div>								
							</div>							
						</div>
	</script>
	
	<!-- <div class="full-width h-50 row">
									<div class="text-secondary font-14-pix col-md-10" id="blog-item-body"></div>
									<div class="col-md-2"><a class="ml-1 btn btn-sm btn-info" id="blog-item-details" href="#" target="_blank">View post</a></div>
								</div> -->

</body>

</html>