<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="appear-animate">

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
				
				<div class="col-md-10 card management-card mobile-font-size-12">
					<div class="card-body">				
							<div class="row col">
								<h1 class="mobile-font-size-20" th:text="${blog.subject}"></h1>
							</div>
							
							<div class="row col">
								<h6 class="mobile-font-size-15" th:text="${blog.userName}"></h6>								
							</div>
							<div class="row col">
								<label class="ml-1 font-14-pix mobile-font-size-12" th:text="${blog.createdAtText}"></label>
							</div>
							<hr>
							<div class="row">
								<div class="form-group col">
									<label class="hidden blogId" th:text="${blog.id}"></label>
									<div class="col-md-6">
										<img th:src="@{'/blogs/all/image/' + ${blog.id}}" alt="..."></img>
									</div>
									<div class="margin-top-20px" th:utext="${blog.content}"></div>									
								</div>
							</div>
							<hr>
						<div class="full-width">
							<div class="row"><h5 class="margin-top-20px">Comments</h5></div>
						</div>
						
						<div class="full-width self-rating-review-container" sec:authorize="isAuthenticated()">
							<div class="row">
								<div class="col-md-12 left">
									<textarea class="form-control col-md-10 left self-comment-container mobile-font-size-12"></textarea>
									<button type="button" class="btn btn-success btn-sm margin-left-10px margin-top-10px hidden comment-edit-btn mobile-font-size-12">Edit</button>
									<button type="button" class="btn btn-success btn-sm margin-left-10px margin-top-10px comment-save-btn mobile-font-size-12">Save</button>
									<button type="button" class="btn btn-danger btn-sm margin-left-10px margin-top-10px hidden comment-delete-btn mobile-font-size-12">Delete</button>
								</div>
							</div>
							<hr>
						</div>	
						
						<div class="full-width font-14-pix">
							<div class="col-md-12 left font-prata margin-top-20px other-comment-container mobile-font-size-12"></div>
						</div>
											
					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>										
				</div>
			</div>
		</div>
	</div>
	
	<div class="hidden temp-container"></div>
	
	<section th:insert="fragments/body :: js-container"></section>
	<script type="text/javascript" src="/js/blog-view.js">></script>
	
	<script id="other-comment-row" type="text/template">
		<div class="row">
			<div class="col-md-2 left">
				<div class="other-user-name"></div>
				<div class="other-date font-italic text-secondary"></div>
			</div>
			<div class="col-md-10 left other-comment"></div>
		</div>
		<hr>
	</script>

</body>
</html>