<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
			
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-8 card management-card">
					<div class="card-body">
						<h1>Book Inventory</h1>
						
						<div class="left section-text mt-10">Showing <label class="pageBookCount"></label> of <label class="totalBookCount"></label>	results</div>
						
						<div class="right">
							<form class="form-inline">
								<i class="fa fa-search" aria-hidden="true"></i> 
								<input class="form-control ml-3 bookSearch" type="text" placeholder="Book, Author, Genre, Tag" aria-label="Search">
							</form>
						</div>
						
						<table class="table">
							<thead>
								<tr>
									<th class="hidden">Id</th>
									<th></th>
									<th>Code</th>
									<th>Name</th>
									<th>Author</th>
									<th>Count</th>
									<th>Issued</th>
									<th>Available</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						
						<!-- Pagination -->
                    	<div class="pagination left margin-top-10px">
                        	<a href="javascript:void(0)" class="browseLeft"><i class="fa fa-angle-left"></i></a>
                        	<a href="javascript:void(0)" class="active pageNumber"><label></label></a>
                        	<a href="javascript:void(0)" class="browseRight"><i class="fa fa-angle-right"></i></a>
                    	</div>
                    <!-- End Pagination -->
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
		$(document).ready(function() {
			var booksPageNumber = 0;
			var isFirstPage = true;
			var isLastPage = false;
			var totalBookLimit = 30;
			var firstBookNumber, lastBookNumber, totalBookCount;
			var searchTimer = null;
			
			function getAllBooks(searchText) {
				var param = {
						"pageNumber": booksPageNumber,
						"searchText": searchText
				}
				
				var request = $.ajax({
					type: "GET",
					url: "/book/get/all",
					dataType: 'JSON',
					data: param
				});
				
				request.done(function(response) {
					if(response.success) {
						data = response.dataMap;
						books = data.bookList;
						totalBookCount = data.totalCount;
						isFirstPage = data.isFirstPage;
						isLastPage = data.isLastPage;
						
						if(booksPageNumber == 0) {
							firstBookNumber = booksPageNumber + 1;
							lastBookNumber = booksPageNumber + books.length;
						} else {
							firstBookNumber = (booksPageNumber * totalBookLimit) + 1;
							lastBookNumber = (firstBookNumber + books.length) - 1;
						}
						
						if(books && books.length > 0) {
							render(books);
							$(".totalBookCount").text(totalBookCount);
							$(".pageBookCount").text(firstBookNumber + "-" + lastBookNumber);
							$(".pageNumber").text(booksPageNumber+1);
							
							attachDeleteListener();
						} else {
							alert("Nothing found!");
						}
					}
				});
			}
			
			function getTableRow(book) {
				var tr = "<tr>";
				
				tr += "<td class='hidden'>" + book.id + "</td>";
				tr += "<td><a href=/book/get/" + book.id.toString() + " target='_blank'><img src=/get/image/" + book.id + " height=100 width=100></a></td>";
				tr += "<td>" + book.code + "</td>";
				tr += "<td><a class='color-black' href=/book/get/" + book.id + " target='_blank'>" + book.name + "</a></td>";
				tr += "<td>" + book.authorName + "</td>";
				tr += "<td>" + book.count + "</td>";
				tr += "<td>" + book.issuedCount + "</td>";
				tr += "<td>" + book.remainingCount + "</td>";
				tr += "<td><a class='fa fa-edit edit-icon color-green' target='_blank' href=/book/view/" + book.id + "></a></td>";
				tr += "<td><a class='fa fa-trash delete-icon' href='javascript:void(0)'></a></td>";
				
				tr += "</tr>";
				
				return tr;
			}
			
			function render(books) {
				var container = $(".table tbody");
				container.empty();
				
				$.each(books, function(key, book) {
					var row = getTableRow(book);
					container.append(row);
				});
			}
			
			function attachDeleteListener(element) {
				$(".table tbody").find(".delete-icon").click(function(e) {
					e.preventDefault();
					
					var currentRow = $(this).closest('tr');
					var id = currentRow.find("td:eq(0)").text();
					
					var request = $.ajax({
						type: "POST",
						url: "/book/delete",
						dataType: 'JSON',
						data: {
							"id": id
						}
					});
					
					request.done(function(response) {
						if(response.success) {
							$(currentRow).remove();
							
							$(".totalBookCount").text(--totalBookCount);
							$(".pageBookCount").text(firstBookNumber + "-" + (--lastBookNumber));
						} else {
							alert("Book deletion failed. Please try again.");
						}
					});
				});
			}			
			
			$(".browseLeft").click(function(e) {
				e.preventDefault();
				if(!isFirstPage) {
					booksPageNumber--;
					getAllBooks("");
				}
			});
			
			$(".browseRight").click(function(e) {
				e.preventDefault();
				if(!isLastPage) {
					booksPageNumber++;
					getAllBooks("");
				}
			});
			
			$(".bookSearch").keyup(function(e) {
				e.preventDefault();
				
				let text = $(this).val();
				
				if(searchTimer) {
					clearTimeout(searchTimer);
					searchTimer = null;
				}
							
				searchTimer = setTimeout(function() {
					firstBookNumber = 0;
					lastBookNumber = 0;
					totalBookCount = 0;
					booksPageNumber = 0;
					isFirstPage = true;
					isLastPage = false;
									
					getAllBooks(text);
				}, 1000);
			});
			
			(function() {
				getAllBooks("");
			})();
		});
	</script>
	
</body>

</html>