<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
			
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-8 card management-card">
					<div class="card-body">
						<h1>Book Inventory</h1>
						
						<table class="table">
							<thead>
								<tr>
									<th class="hidden">Id</th>
									<th></th>
									<th>Code</th>
									<th>Name</th>
									<th>Author</th>
									<th>Count</th>
									<th>Issued</th>
									<th>Available</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="book : ${books}">
									<td class="hidden" th:text="${book.id}"></td>
									<td><img th:src="@{'/get/image/' + ${book.id}}" height="42" width="42"></td>
									<td th:text="${book.code}"></td>
									<td th:text="${book.name}"></td>
									<td th:text="${book.author.name}"></td>
									<td th:text="${book.count}"></td>
									<td th:text="${book.issuedCount}"></td>
									<td th:text="${book.remainingCount}"></td>
									<td><a class="fa fa-edit edit-icon" th:href="@{'/book/view/' + ${book.id}}"></a></td>
									<td><a class="fa fa-trash delete-icon" th:href="@{'/book/delete/' + ${book.id}}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
		$(document).ready(function() {
			$(".delete-icon").click(function(e) {
				e.preventDefault();
				
				var currentRow = $(this).closest('tr');
				var id = currentRow.find("td:eq(0)").text();
				
				var request = $.ajax({
					type: "POST",
					url: "/book/delete",
					dataType: 'JSON',
					data: {
						"id": id
					}
				});
				
				request.done(function(response) {
					if(response.success) {
						$(currentRow).remove();
					} else {
						alert("Book deletion failed. Please try again.");
					}
				});
			});
			
		});
	</script>
	
</body>

</html>