<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">
				
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-8 card management-card">
					<div class="card-body">
						<h1>Book Update</h1>

						<!-- Form -->
						<form th:action="@{/book/update}" th:object="${book}" method="post" encType="multipart/form-data"
							autocomplete="off">

							<input type="text" class="form-control hidden" th:field="*{id}">
							
							<div th:insert="fragments/forms :: book-form"></div>

							<button type="submit" class="btn btn-primary">Update</button>
						</form>
					</div>

				</div>


			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
		$(document).ready(function() {
			setTimeout(function() {
				$(".dropdown").find("button").addClass("select-picker-button");
			},500);
			
		});
	</script>

</body>
</html>