<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-8 card management-card left">
					<div class="card-body">

						<div>
							<h3>
								<span class="color-deep-yellow">Delivery and
									Pick-up/Drop-off Options</span>
							</h3>

							<div class="color-deep-blue">
								<label><strong>Pick-up and drop-off facility would be available 
								at the following locations during the hours 
								mentioned below:</strong></label>
								<ol>
									<li>3, 3a Paribag,<br>
										Digonto , #14 F,<br>
										Time: 9:00 am till 8:00 pm<br>
										Phone: +8801731374781 
									</li>
									<li>Happy Rehman Plaza, 4th Floor, Suite # 4,<br>
										25-27, Kazi Nazrul Islam Avenue, Bangla Motor<br>
										Time: 10:00 am till 6:30 pm, Saturday – Thursday<br>
										Beside Bishwa Shahitto Kendra/Baatighar<br> 
										Phone: 01731374781
									</li>
									<li>Mohammedi Hardware Mart,<br>
										33, Enayet Bazaar, Chittagong<br> 
										Time : 10am-6.30pm , Saturday-Thursday<br>
										Phone : 01731374781
									</li>
								</ol>
							</div>
							
							<div class="color-deep-blue">
								<h6>Please note that delivery is only available <span class="color-orange">four  days a week </span>
								in the following areas as mentioned below:</h6>
								
								<span>A. Dhaka:</span>
								<br><br>
								<span class="color-red">Sunday</span>
								<ul>
									<li>Gulshan 1</li>
									<li>Gulshan 2</li>
									<li>Niketon</li>
									<li>Banani</li>
									<li>Baridhara</li>
									<li>Baridhara DOHS</li>									
								</ul>
								
								<span class="color-red">Tuesday</span>
								<ul>
									<li>Paribag</li>
									<li>Shahbag</li>
									<li>Eskaton</li>
									<li>Elephant Road</li>
									<li>Green Road</li>
									<li>Dhanmondi</li>
									<li>Lalmatia</li>
									<li>Mohammadpur</li>
									<li>Kalabagan</li>
								</ul>
								
								<span class="color-red">Friday/Saturday:</span>
									<ul>
										<li> All other areas (Additional delivery charges might apply for some areas)</li>
									</ul>
								
								<span>B. Chittagong - </span><span class="color-red">Sunday, Tuesday and Saturday</span>
								<br><br>
								<div class="color-red left">Delivery Charge :
								</div>
								<div class="color-red left margin-left-10px">Tk 100 (Dhaka - may differ for some areas)<br>
				 					Tk. 100 (Chittagong - may differ for some areas)</div>
							</div>
							
						</div>

					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
				
				</div>

			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
		$(document).ready(function() {
			function getYear() {
				let yearPlaceholder = $("#bookcentricYear");
				var year = new Date().getFullYear();
				if (yearPlaceholder) {
					$(yearPlaceholder).text(year);
				}
			}

			getYear();
		});
	</script>

</body>
</html>