<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="appear-animate">

	<div class="page">
		<!-- <header th:insert="fragments/body :: header"></header> -->
		
		<div th:insert="fragments/body :: logo"></div>
        <div th:insert="fragments/body :: menue"></div>

        <!-- Head Section -->
        <section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-medium fixed-max-height-400px" data-background="/images/books/events-page-header.png">                
        	<div class="js-height-parent container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="row">                        
                                <div class="col-md-8 align-left font-alt">
                                    <h1 class="hs-line-12 font-alt mb-20 mb-xs-0">Events</h1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                </div>
        </section>
        <!-- End Head Section -->

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">

				<!-- <div th:insert="fragments/body :: management-navbar"></div> -->

				<div class="col-md-6 card management-card">
					<div class="card-body">

						<div class="col-md-12 left mobile-font-size-12">
							<h1 class="mobile-font-size-20">List of events</h1>
							
							<ul th:if="${events != null}">
								<li th:each="e : ${events}"><a th:text="${e.subject}"
									th:href="@{'/events/all/' + ${e.id}}"></a></li>
							</ul>
							
							
							<div sec:authorize="hasRole('ROLE_ADMIN')" class="margin-top-10px">
								<a class="btn btn-success mobile-font-size-12" href="/events/me">Add new</a>
							</div>

						</div>
						
					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
				</div>

			</div>
		</div>

	</div>

	<section th:insert="fragments/body :: js-container"></section>

	<script type="text/javascript">
		$(document).ready(function() {
			function getYear() {
				let yearPlaceholder = $("#bookcentricYear");
				var year = new Date().getFullYear();
				if (yearPlaceholder) {
					$(yearPlaceholder).text(year);
				}
			}

			getYear();
		});
	</script>
</body>
</html>