<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="appear-animate">

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
				
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-10 card management-card mobile-font-size-14">
					<div class="card-body">	
							
							<div class="row">
								<div class="col-md-10">
									<h1 th:text="${event.subject}" class="mobile-font-size-20"></h1>
								</div>
								<div class="col-md-2" sec:authorize="hasRole('ROLE_ADMIN')">
									<label class="hidden" th:text="${event.id}" id="eventId"></label>
									<a class="fa fa-edit edit-icon color-green" th:href="@{'/events/me/' + ${event.id}}"></a>
									<a class="fa fa-trash delete-icon color-red ml-3" th:href="@{'/events/me/delete/' + ${event.id}}"></a>
								</div>
							</div>			
							
							
							<hr>
							<div class="row user-list-btn-grp">
								<img class="w-60" th:src="@{'/events/all/image/' + ${event.id}}" alt="..."></img>
							</div>
							<div class="row">
								<div class="form-group col margin-top-10px">
									<div th:utext="${event.content}"></div>
								</div>
							</div>																	
					</div>	
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
														
				</div>
				
			</div>
		</div>
	</div>
	
	<section th:insert="fragments/body :: js-container"></section>
	
	<script type="text/javascript">
	$(document).ready(function() {
		
		function attachDeleteListener() {
			var deleteButton = $(".delete-icon");
			
			if(deleteButton) {
				$(deleteButton).click(function(e) {
					e.preventDefault();
					
					var id = $("#eventId").text();
					if(id) {
						var confirmation = confirm("Are you sure you want to delete this event?");
						
						if (confirmation == true) {						
							var request = $.ajax({
								type: "POST",
								url: "/events/me/delete",
								dataType: 'JSON',
								data: {
									"id": id
								}
							});
							
							request.done(function(response) {
								if(response.success) {
									location.href = '/events/all';
								} else {
									alert("Event deletion failed. Please try again.");
								}
							});
						}
					}
				});
				
			}
			
		}
		
		(function() {
			attachDeleteListener();
		})();
		
	});
	</script>

</body>
</html>
