<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="appear-animate">

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div class="col-md-8 card management-card left">
					<div class="card-body">
						<h1>FAQ</h1>
						
						<ul class="font-23-px font-font-awesome">		
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/glossary.png', '_blank', 'fullscreen=yes'); return false;">Glossary - Some terms of reference.</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/registration_and_borrowing.png', '_blank', 'fullscreen=yes'); return false;">How do I become a member of Bookcentric??</a>
									</div>
								</div>
							</li>
												
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/how_does_bookcentric_work.png', '_blank', 'fullscreen=yes'); return false;">What is the process of borrowing and exchanging books?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/payment.png', '_blank', 'fullscreen=yes'); return false;">What are my payment options? What is your bKash number?</a>
									</div>
								</div>
							</li>
							
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/member_dashboard.png', '_blank', 'fullscreen=yes'); return false;">What is the Member Dashboard?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/pickup_and_delivery.png', '_blank', 'fullscreen=yes'); return false;">What are my pick-up and delivery options? From where do I get my books?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/change_subscription_plan.png', '_blank', 'fullscreen=yes'); return false;">How can I change my subscription plan?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/book_details.png', '_blank', 'fullscreen=yes'); return false;">How do I find out more about the books in your collection?</a>
									</div>
								</div>
							</li>							
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/reading_challenges.png', '_blank', 'fullscreen=yes'); return false;">What is the Bookcentric Reading Challenge? How do I participate?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/student_instalment_plans.png', '_blank', 'fullscreen=yes'); return false;">What is the student instalment plan?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/gift_subscription.png', '_blank', 'fullscreen=yes'); return false;">Can I gift a subscription? How do I do that?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/cancel_subscripton.png', '_blank', 'fullscreen=yes'); return false;">How can I cancel my subscription?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/taking_break.png', '_blank', 'fullscreen=yes'); return false;">How can I take a break? When can I start borrowing again?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/blogging.png', '_blank', 'fullscreen=yes'); return false;">Can I contribute to the blogs in the Thoughts and Musings section? How can I leave a review?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/collaborations.png', '_blank', 'fullscreen=yes'); return false;">Would Bookcentric be interested in a collaboration?</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="#" onclick="window.open('/docs/covid19_safety_precautions.png', '_blank', 'fullscreen=yes'); return false;">COVID19 Safety Precautions.</a>
									</div>
								</div>
							</li>
							
							<li>
								<div class="row">
									<div class="form-group col">
										<a href="javascript:void(0)">Contact us for corporate subscriptions.</a>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
   		$(document).ready(function() {
   			
   			function getYear() {
				let yearPlaceholder = $("#bookcentricYear");
				var year = new Date().getFullYear();
				if (yearPlaceholder) {
					$(yearPlaceholder).text(year);
				}
			}

			getYear();
   		});
	</script>

</body>
</html>