<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div class="col-md-4 card management-card left">
					<div class="card-body mobile-font-size-12">
						<h1 class="mobile-font-size-20">Login</h1>
						
						<!-- Form -->
						<form th:action="@{/login}" method="post">
							<table>
								<tr>
									<td><label> User Name</label></td>
									<td><label>:</label></td>
									<td><input type="text" name="username" class="form-control mobile-font-size-12"/></td>
								</tr>
								
								<tr>
									<td><label>Password</label></td>
									<td><label>:</label></td>
									<td><input type="password" name="password" class="form-control mobile-font-size-12"/></td>
								</tr>
								
								<tr>
									<td><button type="submit" class="btn btn-primary mobile-font-size-12">Sign In</button></td>
									<td></td>
									<td><a class="small color-deep-blue align-bottom" href="/user/registration">Don't have an account? Sign up</a></td>
								</tr>
							</table>
        				</form>
						<p th:if="${loginError}" class="error">Wrong user or password!</p>
						<p th:if="${passwordResetSuccess}" class="success">Password reset successful. Please login again.</p>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>
	
	<script>
		(function() {
			var elem = document.querySelector('.fm-button');
			elem.parentNode.removeChild(elem);
			
			elem = document.querySelector('#fullscreen-menu');
			elem.parentNode.removeChild(elem);
		})();
	</script>

</body>
</html>