<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div class="col-md-8 card management-card left">
					<div class="card-body">
						<h1>Password reset</h1>

						<!-- Form -->
						<form id="passwordResetForm" th:action="@{/password/reset}" th:object="${passwordReset}" method="post" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<label>Current password*</label> <input type="password" class="form-control" th:field="*{currentPassword}" required>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{userId}">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<label>New password*</label> <input type="password" class="form-control" th:field="*{newPassword}" required>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<label>Retype new password*</label> <input type="password" class="form-control" th:field="*{retypeNewPassword}" required>
								</div>
							</div>
							<p th:if="${wrongPassword}" class="error">Wrong current password entered!</p>

							<button class="btn btn-primary">Update</button>
						</form>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
   		$(document).ready(function() {
   			
   			$(".btn").click(function(e) {
   				e.preventDefault();
   				var currentPassword = $("#currentPassword").val();
   				var newPassword = $("#newPassword").val();
   				var retypeNewPassword = $("#retypeNewPassword").val();
   				
   				if(newPassword != retypeNewPassword) {
   					alert("New passwords should match.");
   				} else if(currentPassword.length < 6 || newPassword.length < 6 || retypeNewPassword.length < 6) {
   					alert("Password length should be atleast 6 characters.");
   				} else {
   					$("#passwordResetForm").submit();
   				}
   			});
   		});
	</script>

</body>
</html>