<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-8 card management-card left mobile-font-size-12">
					<div class="card-body">
						<h1 class="mobile-font-size-20">Payment Mode</h1>

						<!-- Form -->
						<form th:action="@{/paymentmode/add}" th:object="${paymentMode}" method="post" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<label>Payment Mode*</label> <input type="text" class="form-control mobile-font-size-12" th:field="*{name}" maxlength="45" required>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{id}">
								</div>
							</div>

							<button type="submit" class="btn btn-primary mobile-font-size-12">Save</button>
						</form>
						
						<label></label>
						
						<table class="table">
							<thead>
								<tr>
									<th>Payment Modes</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="mode : ${paymentModeList}">
									<td th:text="${mode.name}"></td>
									<td><a class="fa fa-edit edit-icon color-green" th:href="@{'/paymentmode/edit/' + ${mode.id}}"></a></td>
									<td><a class="fa fa-trash delete-icon" th:href="@{'/paymentmode/delete/' + ${mode.id}}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>

</body>
</html>