<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-8 card management-card left mobile-font-size-12">
					<div class="card-body">
						<h1 class="mobile-font-size-20">Publisher</h1>

						<!-- Form -->
						<form th:action="@{/publisher/add}" th:object="${publisher}" method="post" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<label>Publisher Name*</label> <input type="text" class="form-control mobile-font-size-12" th:field="*{name}" maxlength="100" required>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{id}">
								</div>
							</div>

							<button type="submit" class="btn btn-primary mobile-font-size-12">Save</button>
						</form>
						
						<label></label>
						
						<div class="right"> 
							<input class="form-control ml-3 publisherSearch mobile-font-size-12" type="text" placeholder="Search by Publisher" aria-label="Search">
						</div>
						
						<div class="publisherSearchLoader hidden">
							<div class="loader"></div>
						</div>
						
						<div class="max-height-500-px overflow-auto full-width">
							<table class="table">
							<thead>
								<tr>
									<th class="hidden">Id</th>
									<th>Publisher Name</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								
							</tbody>
							
							</table>
						</div>
						
						
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script type="text/javascript">
	
		$(document).ready(function() {
			
			var searchTimer = null;
			
			function getAllPublishers(searchText) {
				var param = {
						"searchText": searchText
				}
				
				$(".publisherSearchLoader").removeClass("hidden");
				
				var request = $.ajax({
					type: "GET",
					url: "/publisher/get",
					dataType: 'JSON',
					data: param
				});
				
				request.done(function(response) {
					$(".publisherSearchLoader").addClass("hidden");
					
					if(response && response.length > 0) {
						render(response);
						attachDeleteListener();
					} else {
						alert("No Publisher Found!");
					}
				});
				
				request.fail(function() {
					$(".publisherSearchLoader").addClass("hidden");
				});
			}
			
			function getTableRow(publisher) {
				var tr = "<tr>";
				tr += "<td class='hidden'>" + publisher.id + "</td>";
				tr += "<td>" + publisher.name + "</td>";
				tr += "<td><a class='fa fa-edit edit-icon color-green' href=/publisher/edit/" + publisher.id + "></a></td>";
				tr += "<td><a class='fa fa-trash delete-icon' href='javascript:void(0)'" + "></a></td>";
				tr += "</tr>";
				
				return tr;
			}
			
			function render(publishers) {
				var container = $(".table tbody");
				container.empty();
				
				$.each(publishers, function(key, publisher) {
					var row = getTableRow(publisher);
					container.append(row);
				});
			}
			
			$(".publisherSearch").keyup(function(e) {
				e.preventDefault();
				
				let text = $(this).val();
				
				if(searchTimer) {
					clearTimeout(searchTimer);
					searchTimer = null;
				}
							
				searchTimer = setTimeout(function() {
					getAllPublishers(text);
				}, 1000);
			});
			
			function attachDeleteListener() {
				$(".table tbody").find(".delete-icon").click(function(e) {
					var confirmation = confirm("Are you sure you want to delete this publisher?");
					
					if (confirmation == true) {
						var currentRow = $(this).closest('tr');
						var id = currentRow.find("td:eq(0)").text();
						
						var request = $.ajax({
							type: "POST",
							url: "/publisher/delete",
							dataType: 'JSON',
							data: {
								"id": id
							}
						});
						
						request.done(function(response) {
							if(response.success) {
								$(currentRow).remove();
							} else {
								alert("Publisher deletion failed. Please try again.");
							}
						});
					}
				});
			}
			
			(function() {
				getAllPublishers("");
			})();
			
		});
		
	</script>

</body>
</html>