<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="appear-animate">

	<div class="page">
		<div th:insert="fragments/body :: logo"></div>
            <div th:insert="fragments/body :: menue"></div>

            <!-- Head Section -->
            <section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-medium fixed-max-height-400px" data-background="/images/books/reading-challenge-header.png">
                <div class="js-height-parent container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="row">                        
                                <div class="col-md-8 align-left font-alt">
                                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><!-- Bookcentric reading challenge --></h1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->                    
                </div>
            </section>
            
            <div class="container-fluid">
				<div class="row justify-content-md-center top-space">
					<div class="col-md-10 card management-card mobile-font-size-14">
						<div class="card-body">
							<div th:if="${rc.subject != null}">							
							<div><h2 class="text-uppercase mobile-font-size-20">Bookcentric reading challenge</h2></div>
							<img class="w-60 margin-bottom-5px" th:src="@{'/reading-challenge/image/' + ${rc.id}}" alt="...">
							<div><h4 class="mobile-font-size-15" th:text="${rc.month} + ' ' + ${rc.year}"></h4></div>
							<div><h4 class="mobile-font-size-15" th:text="${rc.subject}"></h4></div>
							<div><h5 class="mobile-font-size-15" th:text="${rc.description}"></h5></div>
							<div class="margin-bottom-10px"><span class="mobile-font-size-15">Bookcentric suggests:</span></div>
														
							<ol>
								<li th:each="book : ${rc.books}">
									<div th:if="${book.url == ''}"><span th:text="${book.name} + ' by ' + ${book.author}"></span></div>
									<div th:if="${book.url != ''}"><a th:href="@{${book.url}}" target="_blank" th:text="${book.name} + ' by ' + ${book.author}"></a></div>
									
								</li>
							</ol>							
							
							</div>
						</div>
						
						<div class="child-footer">
							<footer th:insert="fragments/body :: footer"></footer>
						</div>
					</div>
				</div>
			</div>
           
		</div>
		
		<section th:insert="fragments/body :: js-container"></section>
		
	</body>
</html>