<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>
		
		<div class="container-fluid">
		<div class="row justify-content-md-center top-space">

		<div th:insert="fragments/body :: management-navbar"></div>
        
        <div class="col-md-12 card management-card">
			<div class="card-body">
					
				<div class="full-width margin-top-10px">
				
					<div class="col-md-6 left">
						<h4>Reading challenges</h4>
						
						<table class="table readingChallengeList">
							<thead>
								<tr>
									<th class="hidden"></th>
									<th>Subject</th>
									<th>Month</th>
									<th>Year</th>
									<th>Published</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="rc: ${readingChallenges}">
									<td class="hidden" th:text="${rc.id}"></td>
									<td th:text="${rc.subject}"></td>
									<td th:text="${rc.month}"></td>
									<td th:text="${rc.year}"></td>
									<td th:text="${rc.published}"></td>
									<td><a class='fa fa-edit edit-icon color-green'></a></td>
									<td><a class='fa fa-trash delete-icon'></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-6 left">
						<h4>Prepare reading challenge</h4>
						
						<form th:action="@{/reading-challenge}" th:object="${readingChallenge}" method="post" encType="multipart/form-data" autocomplete="off">
							<div class="row">
								<div class="form-group col">
									<label>Subject*</label> <input type="text" class="form-control" th:field="*{subject}" required>
								</div>
								<div class="form-group col">
									<label>Month name*</label> <input type="text" class="form-control" th:field="*{month}">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<label>Year*</label> <input type="number" class="form-control" th:field="*{year}" required>
								</div>
								<div class="form-group col">
									<input type="checkbox" th:field="*{published}"><span>Published*</span>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<button class="btn btn-sm btn-success add-book">Add books</button>
									<a href="/reading-challenge/view">Clear</a>
									<table class="table bookList">
										<thead>
											<tr><th></th><th>Book name</th><th>Author</th><th>Url</th><th></th></tr>
										</thead>
										<tbody>
											<tr th:if="${readingChallenge.books.empty}" class="no-books-row"><td colspan="4"> No Books Available </td></tr>
											<tr th:each="book, itemStat : *{books}">
											<td><input type="text" class="form-control hidden" th:field="*{books[__${itemStat.index}__].id}" /></td>
												<td><input type="text" class="form-control" required th:field="*{books[__${itemStat.index}__].name}" /></td>
            									<td><input type="text" class="form-control" required th:field="*{books[__${itemStat.index}__].author}" /></td>
            									<td><input type="text" class="form-control" th:field="*{books[__${itemStat.index}__].url}" /></td>
            									<td><a class='fa fa-trash book-delete-icon'></a></td>
        									</tr>
										</tbody>
									</table>
								</div>
								
							</div>
							
							<div class="row">
								<input type="text" class="form-control hidden" th:field="*{id}">
								<div class="form-group col">
									<label>Upload image</label> 
									<input type="file" class="form-control" name="file">					
								</div>
							</div>
							
							<button type="submit" class="btn btn-primary">Save</button>
						
						</form>
					</div>
				</div>
			</div>
		</div>
        
     </div>
     
     </div>
     </div>
     
     <section th:insert="fragments/body :: js-container"></section>
     
     <script type="text/javascript">
     	$(document).ready(function() {
     		
     		$(".add-book").click(function(e) {
     			e.preventDefault();
     			if(!$(".no-books-row").hasClass("hidden")) {
     				$(".no-books-row").remove();
     			}
     			const tbody = $(".bookList").find("tbody");
     			const count = $(tbody).find("tr").length;

     			let row = "<tr>";
     			row += "<td><input type='text' class='form-control hidden' name='books[" + count + "].id'></td>";
     			row += "<td><input type='text' class='form-control' required name='books[" + count + "].name'></td>";
     			row += "<td><input type='text' class='form-control' required name='books[" + count + "].author'></td>";
     			row += "<td><input type='text' class='form-control' name='books[" + count + "].url'></td>";
     			row += "<td><a class='fa fa-trash book-delete-icon'></a></td>";
     			row += "</row>"
     			$(tbody).append(row);
     			
     			$(".book-delete-icon").off("click");
     			$(".book-delete-icon").click(function(e) {
     				e.preventDefault();
         			deleteBook(this);
     			});
     		});
     		
     		$(".edit-icon").click(function(e) {
     			e.preventDefault();
     			var currentRow = $(this).closest('tr');
				var id = currentRow.find("td:eq(0)").text();
				location.href = '/reading-challenge/edit/' + id;
     		});
     		
     		$(".delete-icon").click(function(e) {
     			e.preventDefault();
     			var currentRow = $(this).closest('tr');
				var id = currentRow.find("td:eq(0)").text();
				location.href = '/reading-challenge/delete/' + id;
     		});
     		
     		function deleteBook(self) {
     			var currentRow = $(self).closest('tr');
				var id = currentRow.find("td:eq(0) input").val();
				console.log(id);
				if(id) {
					var request = $.ajax({
						type: "POST",
						url: "/reading-challenge/delete/book",
						dataType: 'JSON',
						data: {
							"bookId": id
						}
					});
					
					request.done(function(response) {
						if(response.success) {
							currentRow.remove();
						}
					});
				} else {
					currentRow.remove();
				}
     		}
     		
     		$(".book-delete-icon").click(function(e) {
     			e.preventDefault();
     			deleteBook(this);
     		});
     		
     	});
     </script>

</body>

</html>