<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>
        
        <div class="col-md-12 card management-card">
			<div class="card-body">
					
				<div class="full-width margin-top-10px">
				
					<div class="col-md-6 left">
						<h4>Reading challenges</h4>
						
						<table class="table readingChallengeList">
							<thead>
								<tr>
									<th></th>
									<th>Subject</th>
									<th>Month</th>
									<th>Year</th>
									<th>Published</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="rc: ${readingChallenges}">
									<td class="hidden" th:text="${rc.id}"></td>
									<td th:text="${rc.subject}"></td>
									<td th:text="${rc.month}"></td>
									<td th:text="${rc.year}"></td>
									<td th:text="${rc.published}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-6 left">
						<h4>Prepare reading challenge</h4>
						
						<form th:action="@{/reading-challenge}" th:object="${readingChallenge}" method="post" encType="multipart/form-data" autocomplete="off">
							<div class="row">
								<div class="form-group col">
									<label>Subject*</label> <input type="text" class="form-control" th:field="*{subject}" required placeholder="Ex. A book about egyptian methodology">
								</div>
								<div class="form-group col">
									<label>Month name*</label> <input type="text" class="form-control" th:field="*{month}" placeholder="Ex. January">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<label>Year*</label> <input type="number" class="form-control" th:field="*{year}" required placeholder="Ex. 2020">
								</div>
								<div class="form-group col">
									<input type="checkbox" th:field="*{published}"><span>Published*</span>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col">
									<button class="btn btn-sm btn-success add-book">Add books</button>
									<table class="table bookList">
										<thead>
											<tr><th>Book name</th><th>Author</th><th>Url</th><th></th></tr>
										</thead>
										<tbody>
											<tr th:if="${readingChallenge.books.empty}" class="no-books-row"><td colspan="4"> No Books Available </td></tr>
											<tr th:each="book, itemStat : *{books}">
												<td><input th:field="*{books[__${itemStat.index}__].name}" /></td>
            									<td><input th:field="*{books[__${itemStat.index}__].author}" /></td>
            									<td><input th:field="*{books[__${itemStat.index}__].url}" /></td>
            									<td><input class="hidden" th:field="*{books[__${itemStat.index}__].id}" /></td>
        									</tr>
										</tbody>
									</table>
								</div>
								
							</div>
							
							<div class="row">
								<input type="text" class="form-control hidden" th:field="*{id}">
								<div class="form-group col">
									<label>Upload image</label> 
									<input type="file" class="form-control" name="file">					
								</div>
							</div>
							
							<button type="submit" class="btn btn-primary">Save</button>
						
						</form>
					</div>
				</div>
			</div>
		</div>
        
     </div>
     
     <section th:insert="fragments/body :: js-container"></section>
     
     <script type="text/javascript">
     	$(document).ready(function() {
     		
     		$(".add-book").click(function(e) {
     			e.preventDefault();
     			if(!$(".no-books-row").hasClass("hidden")) {
     				$(".no-books-row").addClass("hidden");
     			}
     			const tbody = $(".bookList").find("tbody");
     			const count = $(tbody).find("tr").length-1;
     			console.log(count);
     			let row = "<tr>";
     			row += "<td><input type='text' name='books[" + count + "].name'></td>";
     			row += "<td><input type='text' name='books[" + count + "].author'></td>";
     			row += "<td><input type='text' name='books[" + count + "].url'></td>";
     			row += "<td><input class='hidden' type='text' name='books[" + count + "].id'></td>";
     			row += "</row>"
     			$(tbody).append(row);
     		});
     		
     		$(".readingChallengeList tbody").find("tr").click(function(e) {
     			e.preventDefault();
     			
     			var currentRow = $(this).closest('tr');
				var id = currentRow.find("td:eq(0)").text();
				console.log(id);
				location.href = '/reading-challenge/' + id;
     		});
     	});
     </script>

</body>

</html>