<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<!-- <div th:insert="fragments/body :: management-navbar"></div> -->

				<div class="col-md-10 card management-card left">
					<div class="card-body table-responsive">
						<h1 class="margin-top-30px mobile-font-size-20">Subscription Plans*</h1>

						<div class="sticky-scroller">
							<table class="table mobile-font-size-11 sticky-table" border="1">
								<thead>
									<tr>
										<th class="sticky-col">Subscription<br>Plan</th>
										<th>Books borrowed<br>at a time</th>
										<th>Limit<br>per month</th>
										<!-- <th>Duration</th> -->
										<th>Security Deposit BDT<br>(Refundable upon cancellation)</th>
										<th>Monthly<br>BDT</th>
										<th>Half-Yearly<br>BDT</th>
										<th>Yearly<br>BDT</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="plan : ${plans}">
										<td th:text="${plan.name}" class="sticky-col"></td>
										<td th:text="${plan.limitEachTime} > 0 ? ${plan.limitEachTime} : 'Unlimited'"></td>
										<td th:text="${plan.limitPerMonth} > 0 ? ${plan.limitPerMonth} : 'Unlimited'"></td>
										<!-- <td th:text="${plan.duration}"></td> -->
										<td th:text="${plan.securityAmount}"></td>
										<td th:text="${plan.monthlyAmount}"></td>
										<td th:text="${plan.halfYearlyAmount}"></td>
										<td th:text="${plan.yearlyAmount}"></td>
									</tr>
								</tbody>
							</table>

						</div>



						<h1 class="margin-top-30px mobile-font-size-20">Children's Subscription Plans*</h1>
						
						<div class="sticky-scroller">
							<table class="table mobile-font-size-11 sticky-table" border="1">
								<thead>
									<tr>
										<th class="sticky-col">Subscription<br>Plan</th>
										<th>Books borrowed<br>at a time</th>
										<th>Limit<br>per month</th>
										<!-- <th>Duration</th> -->
										<th>Security Deposit BDT<br>(Refundable upon cancellation)</th>
										<th>Monthly<br>BDT</th>
										<th>Half-Yearly<br>BDT</th>
										<th>Yearly<br>BDT</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="plan : ${childrenPlans}">
										<td th:text="${plan.name}" class="sticky-col"></td>
										<td th:text="${plan.limitEachTime} > 0 ? ${plan.limitEachTime} : 'Unlimited'"></td>
										<td th:text="${plan.limitPerMonth} > 0 ? ${plan.limitPerMonth} : 'Unlimited'"></td>
										<!-- <td th:text="${plan.duration}"></td> -->
										<td th:text="${plan.securityAmount}"></td>
										<td th:text="${plan.monthlyAmount}"></td>
										<td th:text="${plan.halfYearlyAmount}"></td>
										<td th:text="${plan.yearlyAmount}"></td>
									</tr>
								</tbody>
							</table>
						</div>


						<h1 class="margin-top-30px mobile-font-size-20">Family Subscription Plans*</h1>

						<div class="sticky-scroller">
							<table class="table mobile-font-size-11 sticky-table" border="1">
								<thead>
									<tr>
										<th class="sticky-col">Subscription<br>Plan</th>
										<th>Books borrowed<br>at a time</th>
										<th>Limit<br>per month</th>
										<!-- <th>Duration</th> -->
										<th>Security Deposit BDT<br>(Refundable upon cancellation)</th>
										<th>Monthly<br>BDT</th>
										<th>Half-Yearly<br>BDT</th>
										<th>Yearly<br>BDT</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="plan : ${familyPlans}">
										<td th:text="${plan.name}" class="sticky-col"></td>
										<td th:text="${plan.limitEachTime} > 0 ? ${plan.limitEachTime} : 'Unlimited'"></td>
										<td th:text="${plan.limitPerMonth} > 0 ? ${plan.limitPerMonth} : 'Unlimited'"></td>
										<!-- <td th:text="${plan.duration}"></td> -->
										<td th:text="${plan.securityAmount}"></td>
										<td th:text="${plan.monthlyAmount}"></td>
										<td th:text="${plan.halfYearlyAmount}"></td>
										<td th:text="${plan.yearlyAmount}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<small><label class="mobile-font-size-10">*Delivery charges apply. Contact us for corporate plans and student installments.</label></small>

					</div>
					
					<div class="child-footer">
						<footer th:insert="fragments/body :: footer"></footer>
					</div>
					
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
		
	</div>
	
	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
		(function() {
			var elem = document.querySelector('.fm-button');
			elem.parentNode.removeChild(elem);
			
			elem = document.querySelector('#fullscreen-menu');
			elem.parentNode.removeChild(elem);
		})();
		
		$(document).ready(function() {
			function getYear() {
				let yearPlaceholder = $("#bookcentricYear");
				var year = new Date().getFullYear();
				if (yearPlaceholder) {
					$(yearPlaceholder).text(year);
				}
			}

			getYear();
		});
	</script>

</body>
</html>