<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<!-- Main body -->
		<div class="container-fluid">

			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-8 card management-card left">
					<div class="card-body">
						<h1>Subscription</h1>

						<!-- Form -->
						<form th:action="@{/subscription/add}" th:object="${subscription}" method="post" autocomplete="off">

							<div class="row">
								<div class="form-group col">
									<label>Category*</label> 
									<select class="form-control" th:field=*{category} required>
										<option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}">
									</select>
								</div>

								<!-- <div class="form-group col">
									<label>Borrow limit*</label> 
									<select class="form-control" th:field=*{borrowLimit} required>
										<option th:each="borrowLimit : ${borrowLimitList}" th:value="${borrowLimit.id}" 
										th:text="'Each time-' + ${borrowLimit.eachTime} + ', Per month-' + ${borrowLimit.perMonth}">
									</select>
								</div> -->
								
								<div class="form-group col">
									<label>Subscription duration*</label> 
									<select class="form-control" th:field=*{subscriptionDuration} required>
										<option th:each="subscriptionDuration : ${subscriptionDurationList}" 
										th:value="${subscriptionDuration.id}" th:text="${subscriptionDuration.name}">
									</select>
								</div>
							</div>
							
							<!-- <div class="row">
								<div class="form-group col">
									<label>Plan duration*</label> 
									<select class="form-control" th:field=*{planDuration} required>
										<option th:each="planDuration : ${planDurationList}" 
										th:value="${planDuration.id}" th:text="${planDuration.name}">
									</select>
								</div>
								
								<div class="form-group col">
									<label>Subscription duration*</label> 
									<select class="form-control" th:field=*{subscriptionDuration} required>
										<option th:each="subscriptionDuration : ${subscriptionDurationList}" 
										th:value="${subscriptionDuration.id}" th:text="${subscriptionDuration.name}">
									</select>
								</div>
							</div> -->
							
							<div class="row">
								<!-- <div class="form-group col">
									<label>Security amount*</label> <input type="number" class="form-control" th:field="*{securityAmount}" required>
								</div> -->
								
								<div class="form-group col">
									<label>Price*</label> <input type="number" class="form-control" th:field="*{price}" required>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{id}">
								</div>
							</div>
							
							<!-- <div class="row">
								<div class="form-group col">
									<input type="checkbox" th:name="cancellationPolicy" 
									th:value="cancellationPolicy" th:field="*{cancellationPolicy}">
									<label>Please check if cancellation policy is applicable</label>
								</div>
								
								<div class="form-group col hidden">
									<input type="text" class="form-control" th:field="*{id}">
								</div>
							</div> -->

							<button type="submit" class="btn btn-primary">Save</button>
						</form>
						
						<label></label>
						
						<table class="table">
							<thead>
								<tr>
									<th>Category</th>
									<!-- <th>Borrow limit</th> -->
									<!-- <th>Plan duration</th> -->
									<th>Subscription duration</th>
									<!-- <th>Security amount</th> -->
									<th>Price</th>
									<!-- <th>Cancellation policy</th> -->
									<th></th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="subscription : ${subscriptionList}">
									<td th:text="${subscription.category.name}"></td>
									<!-- <td th:text="'Each time-' + ${subscription.borrowLimit.eachTime} + ', Per month-' + ${subscription.borrowLimit.perMonth}"></td> -->
									<!-- <td th:text="${subscription.planDuration.name}"></td> -->
									<td th:text="${subscription.subscriptionDuration.name}"></td>
									<!-- <td th:text="${subscription.securityAmount}"></td> -->
									<td th:text="${subscription.price}"></td>
									<!-- <td th:text="${subscription.cancellationPolicy}"></td> -->
									<td><a class="fa fa-edit edit-icon color-green" th:href="@{'/subscription/edit/' + ${subscription.id}}"></a></td>
									<td><a class="fa fa-trash delete-icon" th:href="@{'/subscription/delete/' + ${subscription.id}}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			<!--/row -->
		</div>
		<!--/container-->
	</div>

	<section th:insert="fragments/body :: js-container"></section>

</body>
</html>