<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/head :: head"></head>

    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
        
            <div th:insert="fragments/body :: logo"></div>
            <div th:insert="fragments/body :: menue"></div>

            <!-- Head Section -->
            <section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-small fixed-max-height-400px" data-background="images/books/8.jpg">
                <div class="js-height-parent container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="row">                        
                                <div class="col-md-8 align-left">
                                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Treasury</h1>
                                    <div class="hs-line-4 font-alt">
                                        Find the book you're looking for
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                </div>
            </section>
            <!-- End Head Section -->

            <!-- Main content area -->
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    <h4><a href="javascript:void(0)" class="best-seller-selection">Best seller</a> <label>/</label> <a href="jacascript:void(0)" class="new_arrival_selection">New arrival</a></h4>
                    
                    
                    <div class="row multi-columns-row special-books left">
					
						
					
                     </div>
                     
                </div>
                </section>

                <section class="page-section">
                <div class="container relative">
                    <!-- Content -->
                    <div class="col-sm-12">
                                
                    <!-- Shop options -->
                    <div class="clearfix mb-40">
                                
                        <div class="left section-text mt-10">
                            Showing 1–12 of 23 results
                        </div>
                                
                        <div class="right">
                            <form method="post" action="#" class="form">
                                <select class="input-md round">
                                    <option>Default sorting</option>
                                    <option>Sort by Book</option>
                                    <option>Sort by Author</option>
                                    <option>Sort by Genre</option>
                                </select>
                            </form>
                        </div>
                                
                    </div>
                    <!-- End Shop options -->
                            
                    <div class="row multi-columns-row">
                        
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                        
                                <a href="#"><img src="images/covers/1.jpg" alt="" /></a>
                                        
                                <div class="intro-label">
                                    <span class="label label-danger bg-red">Featured</span>
                                </div>
                                        
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">The Magic Misfits</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/2.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Becoming Michelle Obama</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/3.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Heart Berries</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/4.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">The Ice Monster</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                        
                                <a href="#"><img src="images/covers/5.jpg" alt="" /></a>
                                        
                                <div class="intro-label">
                                    <span class="label label-danger bg-red">Featured</span>
                                </div>
                                        
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Love</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/6.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Nine Perfect Strangers</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/7.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">One day in December</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/8.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">The Au pair</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/9.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">The Chalk Man</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/10.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">The other woman</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/covers/11.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Transcription</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                        <!-- Book Item -->
                        <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                            <div class="post-prev-img">
                                <a href="#"><img src="images/shop/shop-prev-12.jpg" alt="" /></a>
                            </div>
                                    
                            <div class="post-prev-title font-alt align-center">
                                <a href="#">Sample</a>
                            </div>
                                    
                            <div class="post-prev-more align-center">
                                <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </div>
                                    
                        </div>
                        <!-- End Book Item -->
                                
                    </div>
                            
                    <!-- Pagination -->
                    <div class="pagination">
                        <a href=""><i class="fa fa-angle-left"></i></a>
                        <a href="" class="active">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a class="no-active">...</a>
                        <a href="">9</a>
                        <a href=""><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- End Pagination -->
                            
                </div>
                <!-- End Content -->
                        
                    
                </div>
            </section>
            <!-- End Section -->
            
            <!--/ Main content area -->

            <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">

                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="images/bc-logo.png" width="78" height="36" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="https://www.facebook.com/bookcentric/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/bookcentricbd" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://www.instagram.com/mashooexplores/" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- End Social Links -->  

                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Find Us
                    </h2>
                    
                    <div class="row">
                        
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                
                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Call Us
                                        </div>
                                        <div class="ci-text">
                                            +880 1715 083 333<br/>
                                            +880 1731 374 781
                                        </div>
                                    </div>
                                </div>
                                <!-- End Phone -->
                                
                                <!-- Address -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Address
                                        </div>
                                        <div class="ci-text">
                                            Dhanmondi, Dhaka
                                        </div>
                                    </div>
                                </div>
                                <!-- End Address -->
                                
                                <!-- Email -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Email
                                        </div>
                                        <div class="ci-text">
                                            <a href="mailto:bookcentricbd@gmail.com">bookcentricbd@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Email -->
                                
                            </div>
                        </div>
                        
                    </div>

                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="#" target="_blank">&copy; BookCentric 2019</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            A Designarium project
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->
        
        </div>
            <!-- End Page Wrap -->
            
        <div class="hidden" id="temp-container"></div>
            
        <section th:insert="fragments/body :: js-container"></section>
            
        <script id="book-item" type="text/template">
			<div class="col-md-2 col-lg-2 mb-60 mb-xs-40">

			<div class="post-prev-img book-image">
				<a href="#"><img src="" id="book-image" alt="" /></a>
			</div>

			<div class="post-prev-title font-alt align-center">
				<a href="#" id="book-name"></a>
			</div>

			<div class="post-prev-more align-center">
				<a href="javascript:void(0)" class="btn btn-mod btn-gray btn-round toggle-wishlist">
					<i class="fa fa-heart font-fourteen-pix"></i> Wishlist
				</a>
				<a href="javascript:void(0)" class="btn btn-mod btn-gray btn-round toggle-reading-queue">
					<i class="fa fa-plus-square font-fourteen-pix"></i> Reading Queue
				</a>
			</div>

			</div>

		</script>
              
        <script type="text/javascript" src="/js/treasury.js">></script>
        
        
        
    </body>
</html>
