<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	  
    <head th:insert="fragments/head :: head"></head>

    <body class="appear-animate">
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
        
            <div th:insert="fragments/body :: logo"></div>
            <div th:insert="fragments/body :: menue"></div>

            <!-- Head Section -->
            <section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-medium fixed-max-height-400px" data-background="images/books/treasury-page-header.png">
                <div class="js-height-parent container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="row">                        
                                <div class="col-md-8 align-left font-alt">
                                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Treasury</h1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                </div>
            </section>
            <!-- End Head Section -->

            <!-- Main content area -->
            <!-- Section -->
            <section class="page-section">
               <div class="container relative">
                
                <div class="col-sm-12">
                    <h3>
                    	<a href="javascript:void(0)" class="best-seller-selection">Bestsellers</a> 
                    	<label>/</label> 
                    	<a href="jacascript:void(0)" class="new_arrival_selection">New At Bookcentric</a>
                    	<label>/</label> 
                    	<a href="jacascript:void(0)" class="children_selection">Children's</a>
                    	<label>/</label> 
                    	<a href="jacascript:void(0)" class="reading_challenge_selection">Bookcentric Reading Challenge</a>
                    </h3>
                    
                    
                    <div class="row multi-columns-row special-books left">
						<!-- Special books will be loaded in this section dynamically -->					
                     </div>
                     
                </div>
                
               </div>
             </section>

		<section class="page-section">
			<div class="container relative">
			
			<div class="col-sm-12">

				<!-- Shop options -->
				<div class="clearfix mb-40">

					<div class="left section-text mt-10">Showing <label class="pageBookCount"></label> of <label class="totalBookCount"></label>	results</div>

					<div class="right">
						<form class="form-inline">
							<i class="fa fa-search" aria-hidden="true"></i> 
							<input class="form-control ml-3 bookSearch" type="text" placeholder="Book, Author, Genre, Tag" aria-label="Search">
						</form>
					</div>

				</div>
				<!-- End Shop options -->

				<div class="row multi-columns-row all-books left">
					<!-- All books will be loaded in this section dynamically -->
				</div>
				
				<!-- Pagination -->
                    <div class="pagination left margin-top-10px">
                        <a href="javascript:void(0)" class="browseLeft"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0)" class="active pageNumber"><label></label></a>
                        <a href="javascript:void(0)" class="browseRight"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- End Pagination -->
				
			</div>
			
			
			</div>
			
			
		</section>
		
		<section class="small-section bg-gray-lighter">
                <div class="container relative">
                    
                    <form class="form align-center" id="mailchimp">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 mx-auto">
                                
                                <div class="newsletter-label font-alt">
                                    
                                </div>
                                
                                <div class="mb-20">
                                    <!-- Post Item -->
                                    <div class="left col-sm-6 col-md-6 col-lg-6 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                                        <div class="post-prev-img">
                                            <a href="#"><img src="images/books/need-a-recommendation.png" alt="..." /></a>
                                        </div>
                                    </div>
                                    <!-- Post Item -->
                                    <div class="left col-sm-6 col-md-6 col-lg-6 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                                        <div class="post-prev-img">
                                            <a href="#"><img src="images/books/wish-for-a-book.png" alt="..." /></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="subscribe-result"></div>
                                
                            </div>
                        </div>
                    </form>
                    
                </div>
            </section>

            <!-- End Section -->
            
            <!--/ Main content area -->

        <footer th:insert="fragments/body :: footer"></footer>
        
        </div>
            <!-- End Page Wrap -->
            
        <div class="hidden" id="temp-container"></div>
            
        <section th:insert="fragments/body :: js-container"></section>
            
        <script id="book-item" type="text/template">
			<div class="col-md-2 col-lg-2 mb-60 mb-xs-40">
			<label></label>
			<div class="post-prev-img book-image">
				<a href="#" target="_blank"><img src="" id="book-image" alt="No image"/></a>
			</div>

			<div class="post-prev-title font-prata align-center">
				<a href="#" id="book-name" target="_blank" data-toggle="tooltip" title="Hooray!"></a>
			</div>

			<div sec:authorize="isAuthenticated()" class="post-prev-more align-center">
				<a href="javascript:void(0)" title="Add to TBR" class="btn btn-mod btn-gray btn-round toggle-wishlist">
					<i class="fa fa-heart font-fourteen-pix"></i>
				</a>
				<a href="javascript:void(0)" title="Add to Reading Queue" class="btn btn-mod btn-gray btn-round toggle-reading-queue">
					<i class="fa fa-plus-square font-fourteen-pix"></i>
				</a>
			</div>

			</div>

		</script>
		
		<script id="special-book-item" type="text/template">
			<div class="col-md-2 col-lg-2 mb-60 mb-xs-40">

			<div class="post-prev-img book-image">
				<a href="#" target="_blank"><img src="" id="book-image" alt="No image" /></a>
			</div>

			</div>

		</script>
              
        <script type="text/javascript" src="/js/treasury.js">></script>
        
        
        
    </body>
</html>
