<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">

				<div th:insert="fragments/body :: management-navbar"></div>

				<div class="col-md-10 card management-card">
					<div class="card-body">

						<div class="left full-width">
							<div class="left">
								<h1>User Details History</h1>
							</div>
							<div class="left position-absolute right-ten-pix">
								<div><label th:text="${user.firstName} + ' ' + ${user.middleName} + ' ' + ${user.lastName}"></label></div>
								<div><label th:text="${user.membershipId}"></label></div>
								<label th:text="${user.id}" class="hidden userId"></label>
							</div>
						</div>

						<div class="full-width">
							<div class="col-md-4 left">

								<table class="table readingQueue">
									<caption class="table-caption">Reading Queue</caption>
									<thead>
										<tr>
											<th>Book name</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="book : ${user.readingQueue}">
											<td class="hidden" th:text="${book.id}"></td>
											<td th:text="${book.name}"></td>
											<td><input type="checkbox"></td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-primary btn-sm" id="issueButton">Issue</button>
								<a class="btn btn-primary btn-sm" th:href="@{'/user/history/readingqueue/' + ${user.id}}">Edit</a>
							</div>

							<div class="col-md-8 left">
								<table class="table readingHistory">
									<caption class="table-caption">History</caption>
									<thead>
										<tr>
											<th class="hidden"></th>
											<th>Book name</th>
											<th>Issue date</th>
											<th>Due date</th>
											<th>Return date</th>
											<th></th>
											<th></th>
										</tr>

									</thead>

									<tbody>

										<tr th:each="history : ${user.userHistory}">
											<td class="hidden" th:text="${history.id}"></td>
											<td th:text="${history.books.name}"></td>
											<td th:text="${history.issueDate}"></td>
											<td th:text="${history.dueDate}"></td>
											<td th:text="${history.returnDate}"></td>
											<td><button class="btn btn-primary btn-sm returnButton">Receive</button></td>
											<td><button class="btn btn-secondary btn-sm reissueButton">Reissue</button></td>

										</tr>

									</tbody>

								</table>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

	<section th:insert="fragments/body :: js-container"></section>

	<script th:inline="javascript">
	$(document).ready(function() {
		
		$("#issueButton").click(function() {
			var bookList = [];
			var userId = $(".userId").text();

			$(".readingQueue > tbody > tr").each(function(index, row) {
				var checkBox = $(row).find("input");
				if(checkBox.prop('checked')) {
					var id = $(row).find("td:eq(0)").text();
					bookList.push(id);
				}
			});
			
			if(bookList.length > 0) {
				
				var request = $.ajax({
					type: "POST",
					url: "/user/history/issue",
					dataType: 'JSON',
					data: {
						"bookList": JSON.stringify(bookList),
						"userId": userId
					}
				});
				
				request.done(function(response){
					if(response.success) {
						location.reload();
					}
				});
				
			} else {
				alert("Please select atleast one book.");
			}
			
		});
		
		$(".readingHistory tbody").find(".returnButton").click(function(e) {
			e.preventDefault();
			
			var currentRow = $(this).closest('tr');
			var returnDateElement = currentRow.find("td:eq(4)");
			var returnDate = returnDateElement.text();
			
			if(returnDate) {
				alert("You have already received this book on " + returnDate);
				return false;
			}
						
			var id = currentRow.find("td:eq(0)").text();
			
			var confirmation = confirm("Please confirm you have received the book.");
			
			if(confirmation == true) {
				var request = $.ajax({
					type: "POST",
					url: "/user/history/return",
					dataType: 'JSON',
					data: {
						"historyId": id
					}
				});
				
				request.done(function(response) {
					if(response.success) {
						returnDateElement.text(response.data.returnDate);
					}
				});
			}
		});
		
		$(".readingHistory tbody").find(".reissueButton").click(function(e) {
			e.preventDefault();
			
			var currentRow = $(this).closest('tr');
			var returnDateElement = currentRow.find("td:eq(4)");
			var returnDate = returnDateElement.text();
			
			if(returnDate) {
				alert("Already received book can not be reissued.");
				return false;
			}
			
			var id = currentRow.find("td:eq(0)").text();
			
			var confirmation = confirm("Please confirm you want to reissue this book.");
			
			if(confirmation == true) {
				var request = $.ajax({
					type: "POST",
					url: "/user/history/reissue",
					dataType: 'JSON',
					data: {
						"historyId": id
					}
				});
				
				request.done(function(response) {
					if(response.success) {
						location.reload();
					}
				});
			}
		});
		
	})
	
	
	</script>

</body>

</html>