<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body>

	<div class="page">
		<header th:insert="fragments/body :: header"></header>

		<div class="container-fluid">
			<div class="row justify-content-md-center top-space">
			
				<div th:insert="fragments/body :: management-navbar"></div>
				
				<div class="col-md-8 card management-card">
					<div class="card-body table-responsive">
						<h1>User Management</h1>
						
						<div class="btn-group user-list-btn-grp" role="group">
  							<a type="button" href="/management/user" class="btn btn-secondary">All</a>
  							<a type="button" href="/management/user?status=Active" class="btn btn-secondary">Active</a>
  							<a type="button" href="/management/user?status=Break" class="btn btn-secondary">Break</a>
  							<a type="button" href="/management/user?status=Pending" class="btn btn-secondary">Pending</a>
  							<a type="button" href="/management/user?status=Cancelled" class="btn btn-secondary">Cancelled</a>
  							<a type="button" href="/management/user?status=Deleted" class="btn btn-secondary">Deleted</a>
						</div>
						
						<table class="table">
							<thead>
								<tr>
									<th class="hidden">Id</th>
									<th>Membership id</th>
									<th>First name</th>
									<th>Last name</th>
									<th>Phone</th>
									<th>Status</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${userList}">
									<td class="hidden" th:text="${user.id}"></td>
									<td th:text="${user.membershipId}"></td>
									<td th:text="${user.firstName}"></td>
									<td th:text="${user.lastName}"></td>
									<td th:text="${user.phone}"></td>
									<td th:text="${user.status.name}"></td>
									<td><a class="btn btn-primary btn-sm" th:href="@{'/user/get/' + ${user.id}}">Edit</a></td>
									<td><a class="btn btn-secondary btn-sm reset-password" href="javascript:void(0)">Reset password</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<section th:insert="fragments/body :: js-container"></section>
	
	<script>
	$(document).ready(function() {
		$(".reset-password").click(function(e) {
			e.preventDefault();
			
			var confirmation = confirm("Are you sure you want to reset this password?");
			if (confirmation == true) {
				var currentRow = $(this).closest('tr');
				var id = currentRow.find("td:eq(0)").text();
							
				var request = $.ajax({
					type: "POST",
					url: "/user/reset/password",
					dataType: 'JSON',
					data: {
						"userId": id
					}
				});
				
				request.done(function(response){
					if(response.success) {
						alert("Password reset successful!");					
					} else {
						alert("Password reset failed! Please try again.");
					}
				});
			}
			
		});
	});
	</script>
</body>

</html>